<template>
    <div class="calendar-create-shift">
        <template v-if="selectedDate">
            <div class="d-flex">
                <v-text-field
                    v-model="state.start_time"
                    label="start time"
                    class="mr-2 w-50"
                    type="time"
                    :error-messages="startTimeErrors"
                />
                <v-text-field
                    v-model="state.end_time"
                    label="end time"
                    class="w-50"
                    type="time"
                    :error-messages="endTimeErrors"
                />
            </div>
            <v-text-field
                v-model="state.location"
                label="location"
                :error-messages="endTimeErrors"
            />
            <!-- <v-autocomplete v-model="state.type" label="type" :items="type_shift" /> -->
            <!-- <v-autocomplete v-model="state.status" label="status" :items="status_shift" /> -->
            <v-autocomplete
                v-model="selected_user"
                label="user name"
                :items="users"
                return-object
                item-title="username"
            />
            <v-textarea
                v-model="state.comment"
                variant="outlined"
                label="comment"
                density="compact"
            />

            <v-btn
                block
                color="blue_100"
                :disabled="!selectedDate || v$.$invalid"
                @click="submitForm"
            >
                Create shift
            </v-btn>
        </template>
        <p v-else>Select a date on the calendar.</p>
    </div>
</template>

<script setup lang="ts">
import './app-calendar-create-shift.scss';
import { TShift } from '@/types/shift_types';

import { useLocalHelpers } from './composable';
import { useVuelidate } from '@vuelidate/core';
import { required } from '@vuelidate/validators';
import { useShift, useUser } from '@/store';
import { storeToRefs } from 'pinia';
import { reactive, computed, onMounted, ref, watch } from 'vue';
import type { Ref } from 'vue';
import { User } from '@/services/user.service';

const emit = defineEmits<{
    (e: 'create_shift', payload: TShift): void;
}>();

interface Props {
    selectedDate: string;
}
const props = withDefaults(defineProps<Props>(), {
    selectedDate: '',
});

const store_shift = useShift();
const store_user = useUser();
// const { type_shift, status_shift } = storeToRefs(store_shift);
const { users } = storeToRefs(store_user);

const selected_user: Ref<User | null> = ref(null);
const { init_state } = useLocalHelpers();
const state = reactive({ ...init_state });

const rules = {
    start_time: { required },
    end_time: { required },
    type: { required },
    status: { required },
    comment: {},
};
const v$ = useVuelidate(rules, state);

const startTimeErrors: any = computed(() => {
    return v$.value.start_time.$errors.map((e) => e.$message);
});
const endTimeErrors: any = computed(() => {
    return v$.value.end_time.$errors.map((e) => e.$message);
});

const submitForm = async () => {
    v$.value.$validate();
    if (v$.value.$error) return;

    const { start_time, end_time, type, status, location, comment } = state;
    const payload = {
        start_time,
        end_time,
        comment,
        type,
        status,
        location,
        name: selected_user.value?.username,
        shift_user_id: selected_user.value?.id,
    };

    emit('create_shift', payload);
};

const clearFormFields = () => {
    state.start_time = '';
    state.end_time = '';
    state.type = '';
    state.status = '';
    state.location = '';
    state.comment = '';
    selected_user.value = null;
    v$.value.$reset();
};

watch(
    () => props.selectedDate,
    (val) => {
        clearFormFields();
    }
);

onMounted(async () => {
    await store_user.fetch_all_users();
});
</script>
