.base-modal {
    min-width: 350px;
    background-color: var(--grey_300);
    border-radius: 5px;
    overflow: hidden;

    &__header {
        padding: 10px;
        border-bottom: 1px solid var(--grey_100);
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--grey_100);
    }

    &__body {
        padding: 10px;
        min-height: 100px;
    }

    &__footer {
        padding: 10px;
        display: flex;
        justify-content: flex-end;
        // justify-content: space-between;
    }
}
