<template>
    <div class="base-modal">
        <div class="base-modal__header">
            <p class="text-body-1 font-weight-bold">{{ title }}</p>
            <v-btn variant="text" icon="mdi-close" size="small" @click="emit('close')" />
        </div>
        <div class="base-modal__body">
            <slot />
        </div>
        <div class="base-modal__footer">
            <v-btn
                v-if="btnSecond"
                class="mr-2"
                variant="outlined"
                color="blue_100"
                :disabled="disabledSecondBtn"
                @click="emit('btnSecond')"
            >
                {{ btnSecond }}
            </v-btn>
            <v-btn
                v-if="btnFirst"
                color="blue_100"
                :disabled="disabledFirstBtn"
                @click="emit('btnFirst')"
            >
                {{ btnFirst }}
            </v-btn>
        </div>
    </div>
</template>

<script setup lang="ts">
import './app_base_modal.scss';

const emit = defineEmits<{
    (e: 'btnSecond'): void;
    (e: 'btnFirst'): void;
    (e: 'close'): void;
}>();

withDefaults(
    defineProps<{
        title?: string;
        btnSecond?: string;
        btnFirst?: string;
        disabledSecondBtn?: boolean;
        disabledFirstBtn?: boolean;
        loadingSecondBtn?: boolean;
        loadingFirstBtn?: boolean;
    }>(),
    {
        title: 'title',
        btnSecond: '',
        btnFirst: '',
        disabledSecondBtn: false,
        disabledFirstBtn: false,
        loadingSecondBtn: false,
        loadingFirstBtn: false,
    }
);
</script>
