$height-page-tabs: calc((var(--vh, 1vh) * 100) - 145px);

.calendar-settings {
    padding: 20px;

    &__tabs {
        margin-top: 20px;
        padding: 20px;
        border-radius: 3px;
        height: $height-page-tabs;
        background-color: var(--grey_100);
        @include scrollbar;
        overflow-y: auto;
    }
}
