<template>
    <div class="calendar-page">
        <div class="calendar-page__header">
            <div class="calendar-page__header-left">Calendar</div>
            <div class="calendar-page__header-right">
                <div class="mr-10">
                    <span class="mr-2">{{ selectedMonthYearName.month }}</span>
                    <span>{{ selectedMonthYearName.year }}</span>
                </div>
                <v-btn-toggle divided variant="outlined" density="comfortable">
                    <v-btn icon="mdi-chevron-left" @click="changeMonth('subtract', 1)" />
                    <v-btn icon="mdi-chevron-right" @click="changeMonth('add', 1)" />
                </v-btn-toggle>
            </div>
        </div>
        <div class="calendar-page__main">
            <AppCalendar
                :month="state.selectedMonth"
                :shifts="shifts"
                @selectDate="clickDate"
                @selectShift="selectCurrentShift"
            />
            <div class="calendar-page__create-block">
                <AppCalendarCreateShift
                    :selected-date="selectShiftDate"
                    @create_shift="onCreateShift"
                />
            </div>
        </div>

        <AppLoader :loading="isLoading" full />
    </div>
</template>

<script setup lang="ts">
import './calendar-page.scss';
import { TShift } from '@/types/shift_types';

import { AppLoader } from '@/components/Atoms';
import { AppCalendarCreateShift } from '@/components/Molecules';
import { AppCalendar } from '@/components/Organisms';
import { computed, reactive, ref, onMounted } from 'vue';
import { storeToRefs } from 'pinia';
import { useShift } from '@/store';
import moment from 'moment';

const store_shift = useShift();
const { shifts } = storeToRefs(useShift());
const state = reactive({
    selectedMonth: '',
});
const selectShiftDate = ref('');
const isLoading = ref(false);
const selectedMonthYearName = computed(() => {
    return {
        month: moment(state.selectedMonth, 'MM YYYY').format('MMMM'),
        year: moment(state.selectedMonth, 'MM YYYY').format('YYYY'),
    };
});

const getShifts = async () => {
    const month = moment().month(selectedMonthYearName.value.month).format('M');
    isLoading.value = true;
    await store_shift.fetchShiftByMonth(month);
    isLoading.value = false;
};
const initCalendar = async () => {
    state.selectedMonth = moment().format('MM YYYY');
    await getShifts();
};

const changeMonth = async (action: string, count: number) => {
    state.selectedMonth =
        action === 'add'
            ? moment(state.selectedMonth, 'MM YYYY').add(1, 'M').format('MM YYYY')
            : moment(state.selectedMonth, 'MM YYYY').subtract(count, 'M').format('MM YYYY');

    isLoading.value = true;
    setTimeout(async () => {
        await getShifts();
        isLoading.value = false;
    }, 1000);
};

const onCreateShift = async (payload: TShift) => {
    await store_shift.createShift({
        ...payload,
        start_at: selectShiftDate.value,
        end_at: selectShiftDate.value,
    });
    await getShifts();
};

const clickDate = (date: string) => {
    selectShiftDate.value = date;
};

const selectCurrentShift = (shift_id: number) => {
    // TODO: in this function needed open (maybe modal or something)
    console.log(shift_id);
};

onMounted(() => {
    initCalendar();
});
</script>
