<template>
    <div class="calendar-settings">
        <v-tabs v-model="tab" bg-color="grey_100" density="compact">
            <v-tab value="types">Shift types</v-tab>
            <v-tab value="status">Shift status</v-tab>
        </v-tabs>

        <div class="calendar-settings__tabs">
            <AppCalendarSettingsTypes v-if="tab === 'types'" />
            <AppCalendarSettingsStatus v-if="tab === 'status'" />
        </div>
    </div>
</template>

<script setup lang="ts">
import './calendar-settings.scss';
import { AppCalendarSettingsStatus, AppCalendarSettingsTypes } from '@/components/Organisms';
import { ref } from 'vue';

const tab = ref(null);
</script>
