.calendar-page {
    padding: 20px;

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 80px;
    }

    &__header-right {
        display: flex;
        align-items: center;
    }

    &__main {
        display: grid;
        grid-template-columns: 1fr 250px;
    }
    &__create-block {
        padding: 20px 0 0 10px;
    }
}
