<template>
    <v-navigation-drawer color="grey_200" class="pa-2">
        <v-list v-model:opened="state.open" density="compact">
            <v-list-group value="Users">
                <template #activator="{ props }">
                    <v-list-item
                        v-bind="props"
                        prepend-icon="mdi-account-circle"
                        title="Calendar"
                    />
                </template>

                <v-list-item
                    v-for="([title, icon, link], i) in state.calendar.items"
                    :key="i"
                    :title="title"
                    :prepend-icon="icon"
                    :value="title"
                    :to="{ name: link }"
                />
            </v-list-group>
        </v-list>
    </v-navigation-drawer>
</template>

<script setup lang="ts">
import './app-left-drawer.scss';
import { reactive } from 'vue';

const state = reactive({
    open: [],
    calendar: {
        items: [
            ['Management', 'mdi-account-multiple-outline', 'Calendar'],
            ['Settings', 'mdi-cog-outline', 'CalendarSettings'],
        ],
    },
});
</script>
