<template>
    <div class="calendar-settings-types">
        <div>
            <v-btn
                class="mb-10"
                color="blue_100"
                prepend-icon="mdi-plus-circle"
                variant="outlined"
                @click="add_type_modal = true"
            >
                Add
            </v-btn>
            <template v-if="shift_types.length > 0">
                <AppListItem
                    v-for="type in shift_types"
                    :key="type.id"
                    :text="type.name"
                    @delete="deleteShiftType(type.id!)"
                    @edit="(text) => updateShiftType(type.id!, text)"
                />
            </template>
        </div>

        <v-dialog v-model="add_type_modal" width="auto">
            <AppBaseModal
                btn-first="Create"
                :disabled-first-btn="!state.type_name"
                :loading-first-btn="state.isLoading"
                @close="add_type_modal = false"
                @btnFirst="addNewShiftType"
            >
                <p class="py-3">Please enter a type name.</p>
                <v-text-field v-model="state.type_name" label="Type" required />
            </AppBaseModal>
        </v-dialog>
    </div>
</template>

<script setup lang="ts">
import './index.scss';
import { AppListItem, AppBaseModal } from '@/components/Atoms';
import { useShift } from '@/store';
import { storeToRefs } from 'pinia';
import { ref, onMounted, reactive } from 'vue';
import { TShiftTypes } from '@/types/shift_types';

const add_type_modal = ref(false);
const store_shift = useShift();
const { shift_types } = storeToRefs(store_shift);
const state = reactive({
    type_name: '',
    isLoading: false,
});

async function addNewShiftType() {
    state.isLoading = true;
    await store_shift.createShiftType({
        name: state.type_name,
    });
    state.isLoading = false;
    add_type_modal.value = false;
    state.type_name = '';
    store_shift.fetchShiftTypes();
}

async function deleteShiftType(shift_type_id: number) {
    await store_shift.deleteShiftType(shift_type_id);
    await store_shift.fetchShiftTypes();
}

async function updateShiftType(shift_type_id: number, text: string) {
    const shift_type: TShiftTypes = {
        id: shift_type_id,
        name: text,
    };
    await store_shift.updateShiftType(shift_type);
    await store_shift.fetchShiftTypes();
}

onMounted(async () => {
    await store_shift.fetchShiftTypes();
});
</script>
