<template>
    <div class="calendar-card" @click.stop="selectShift">
        <div class="d-flex align-center">
            <v-icon class="mr-1" size="x-small" icon="mdi-account" />
            <span>{{ shift.name }}</span>
        </div>
        <div>
            <v-icon class="mr-1" size="x-small" icon="mdi-clock-time-five-outline" />
            <span class="mr-1">{{ shift.start_time }} /</span>
            <span>{{ shift.end_time }}</span>
        </div>

        <div>
            <v-icon class="mr-1" size="x-small" icon="mdi-list-status" />
            <span>{{ shift.status }}</span>
        </div>

        <v-tooltip v-if="shift.comment" location="bottom">
            <template #activator="{ props }">
                <v-icon
                    v-bind="props"
                    class="calendar-card__comment"
                    size="small"
                    icon="mdi-comment-outline"
                    color="green"
                />
            </template>
            <span>{{ sliceTxt(shift.comment) }}</span>
        </v-tooltip>
    </div>
</template>

<script setup lang="ts">
import './calendar-card.scss';
import { TShift } from '@/types/shift_types';

const emit = defineEmits<{
    (e: 'selectShift', id: number): void;
}>();

const props = withDefaults(
    defineProps<{
        shift: TShift;
    }>(),
    {}
);

function selectShift() {
    emit('selectShift', props.shift.id!);
}
const sliceTxt = (txt: string) => (txt ? (txt.length > 20 ? txt.slice(0, 20) + '...' : txt) : '-');
</script>
