.calendar-card {
    position: relative;
    padding: 3px;
    border: 1px solid gray;
    border-radius: 3px;
    margin-bottom: 2px;
    font-size: 12px;
    transition: all 0.2s ease-in-out;

    &:hover {
        background-color: var(--grey_100);
    }

    &__comment {
        position: absolute;
        right: 4px;
        bottom: 4px;
    }
}
