$height-page: calc((var(--vh, 1vh) * 100) - 180px);
$height-content-without-header: calc((var(--vh, 1vh) * 100) - 260px);

.calendar {
    height: $height-page;
    width: 100%;
    overflow-y: auto !important;
    @include scrollbar;

    &::-webkit-scrollbar-track {
        background: transparent;
    }
    &__grid {
        display: grid;
        grid-template-columns: repeat(7, minmax(14.2857%, 1fr));
    }
    &__row {
        display: contents;
    }
    &__cell {
        min-height: calc(100vh / 6);
        max-height: 300px;
        overflow-y: auto !important;
        @include scrollbar;

        padding: 30px 4px 8px 4px;
        box-sizing: border-box;
        border-left: 1px solid #303030;
        border-top: 1px solid #303030;
        border-bottom: 1px solid transparent;
        border-right: 1px solid transparent;
        background: #525252;
        cursor: pointer;
        user-select: none;
        position: relative;

        .weakday,
        .num {
            color: #e0e0e0;
            font-size: 12px;
            font-weight: bold;
            text-align: center;
            line-height: 1;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
        .weakday {
            margin-bottom: 4px;
            top: 3px;
        }
        .num {
            margin-bottom: 10px;
            top: 15px;
        }

        &__shifts {
            .card {
                margin-bottom: 4px;
                width: 100%;
                max-width: 300px;
            }
        }

        &--first {
            .card__tooltip span {
                right: auto;
                left: 100%;
            }
        }
        &--last-row {
            border-bottom: 1px solid #e0e0e0;

            &.calendar__cell--last {
                border-bottom-right-radius: 8px;
            }
            &.calendar__cell--first {
                border-bottom-left-radius: 8px;
            }

            .card__tooltip span {
                top: auto;
                bottom: 100%;
            }
        }
        &--first-row {
            &.calendar__cell--first {
                border-top-left-radius: 8px;
            }
            &.calendar__cell--last {
                border-top-right-radius: 8px;
            }
        }
        &--current {
            .num {
                color: #ea6109;
            }
        }
        &:hover {
            border: 1px solid #63a6e9;
        }
        &--selected {
            border: 1px solid #1f75cb !important;
        }
    }
}
