.v-divider {
    border-color: #323335 !important;
}

.cross-btn {
    opacity: 0.3;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
        opacity: 1;
    }
}

// v-btn - reset.
.v-btn {
    text-transform: none !important;
}
.v-btn.v-btn--density-comfortable {
    &:focus {
        box-shadow: inset 0 0 0 1px #9dc7f1, 0 0 0 1px #333238, 0 0 0 3px #1f75cb;
    }
}

// breadcrumbs - custom style.
.v-breadcrumbs-item--disabled {
    opacity: 0.3 !important;
}
.v-breadcrumbs-item {
    align-items: center;
    color: inherit;
    display: inline-flex;
    padding: 0 !important;
    vertical-align: middle;
    font-size: 14px;
}
.v-breadcrumbs-item--link:hover {
    text-decoration: none;
    position: relative;
    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background: $white_100;
    }
}

.v-overlay__scrim {
    background-color: rgba(5, 5, 5, 0.4) !important;
}

.v-divider {
    border-color: #ffffff !important;
}

// v-switch
.v-label {
    align-items: center;
    display: inline-flex;
    letter-spacing: 1px !important;
}
.v-selection-control .v-label {
    font-size: 12px !important;
    height: 20px;
}
.v-switch .v-selection-control {
    min-height: 0 !important;
}

// v-app-bar - reset
.v-app-bar.v-toolbar:not(.v-toolbar--flat) {
    box-shadow: 0 1px 0 0 $grey_300 !important;
}

// v-list-group__items
.v-list-group__items .v-list-item {
    padding-inline-start: calc(-10px + var(--indent-padding)) !important;
    border-radius: 5px;
    margin-bottom: 5px;
}
