<template>
    <v-app>
        <v-layout>
            <AppNav />
            <AppLeftDrawer />
            <!-- <AppRightDrawer /> -->
            <v-main class="main-layout">
                <router-view />
            </v-main>
        </v-layout>

        <AppAlertList />
    </v-app>
</template>

<script lang="ts" setup>
import './main-layout.scss';
import { AppLeftDrawer, AppNav, AppRightDrawer, AppAlertList } from '@/components/Molecules';
import { onMounted } from 'vue';
import { useUser } from '@/store';

const { fetch_user } = useUser();

const setVhVariable = () => {
    const vh = window.innerHeight * 0.01;
    document.documentElement.style.setProperty('--vh', `${vh}px`);
};

onMounted(async () => {
    await fetch_user();
    setVhVariable();
    window.addEventListener('resize', () => {
        setVhVariable();
    });
});
</script>
