<template>
    <div class="app-list-item mb-2" @mouseover="hover = true" @mouseleave="hover = false">
        <div class="app-list-item__content">
            <div v-if="edit_mode" class="app-list-item__content-edit-field">
                <v-text-field v-model="edit_text" hide-details />
            </div>
            <p v-else class="font-weight-bold py-2">{{ sliceTxt(text, 20) }}</p>
            <div>
                <v-btn
                    v-if="hover"
                    variant="text"
                    size="small"
                    icon="mdi-pencil-outline"
                    @click="edit_mode = !edit_mode"
                />
                <v-btn
                    variant="text"
                    size="small"
                    icon="mdi-delete-outline"
                    @click="emit('delete')"
                />
            </div>
        </div>
        <v-divider />
    </div>
</template>

<script setup lang="ts">
import './index.scss';
import { useSliceTxt } from '@/composables/textHelpers';
import _ from 'lodash';
import { ref, watch } from 'vue';

const emit = defineEmits<{
    (e: 'delete'): void;
    (e: 'edit', text: string): void;
}>();

const props = withDefaults(
    defineProps<{
        text?: string;
    }>(),
    {
        text: '',
    }
);

const { sliceTxt } = useSliceTxt();
const hover = ref(false);
const edit_text = ref(props.text ? props.text : '');
const edit_mode = ref(false);

watch(
    () => edit_text.value,
    _.debounce((val) => {
        if (val.length > 1) {
            edit_mode.value = false;
            emit('edit', val);
        }
    }, 1000)
);
</script>
