.app-list-item {
    max-width: 400px;
    padding-top: 10px;

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 8px;
    }
    &__content-edit-field {
        width: 250px;
    }
}
